@import url("./header.css");
@import url("./main.css");

:root {
  --color-green: rgba(83, 141, 78, 1);
  --color-yellow: rgba(181, 159, 59, 1);
  --color-darkgray: rgba(120, 124, 126, 1);
  --color-lightgray: rgba(211, 214, 218, 1);
  --color-red: rgba(201, 19, 13, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 3rem;
  opacity: 0;
  z-index: -10;
}

.success {
  z-index: 10;
  background-color: var(--color-green);
  animation: success 5s infinite;
}

.fail {
  z-index: 10;
  background-color: var(--color-red);
  animation: fail 5s infinite;
}

@keyframes success {
  0% {
    background-color: var(--color-green);
    opacity: 0.6;
  }
  50% {
    background-color: var(--color-green);
    opacity: 0.9;
  }
  100% {
    background-color: var(--color-green);
    opacity: 0.6;
  }
}

@keyframes fail {
  0% {
    background-color: var(--color-red);
    opacity: 0.6;
  }
  50% {
    background-color: var(--color-red);
    opacity: 0.9;
  }
  100% {
    background-color: var(--color-red);
    opacity: 0.6;
  }
}
